use actix_web::{HttpResponse, web};
use serde::{Deserialize};
{{#imports}}
use {{import}};
{{/imports}}
{{#operations}}
    {{#operation}}
{{#hasQueryParams}}
#[derive(Deserialize)]
pub struct {{operationId}}_params {
    {{#queryParams}}
    {{paramName}} : {{^required}}Option<{{/required}}{{#isArray}}Vec<{{#items}}{{dataType}}{{/items}}>{{/isArray}}{{^isArray}}{{dataType}}{{/isArray}}{{^required}}>{{/required}},
    {{/queryParams}}
}
{{/hasQueryParams}}
{{#summary}}/// {{summary}}{{/summary}}
pub async fn {{operationId}}(
    {{#hasQueryParams}}queryParams : web::Query<{{operationId}}_params>,{{/hasQueryParams}}
    {{#hasPathParams}}web::Path(({{#pathParams}}{{paramName}}{{^-last}}, {{/-last}}{{/pathParams}})) : web::Path<({{#pathParams}}{{dataType}}{{^-last}}, {{/-last}}{{/pathParams}})>,{{/hasPathParams}}
    {{#bodyParams}}{{paramName}} : web::Json<{{dataType}}>,{{/bodyParams}}
    db: web::Data<sqlx::Pool<sqlx::sqlite::Sqlite>>
) -> HttpResponse
{
    HttpResponse::Ok().body("{{summary}} - {{operationId}}")
}


    {{/operation}}
{{/operations}}
