[package]
name = "{{#lambda.camelcase}}{{appName}}{{/lambda.camelcase}}"
version = "{{appVersion}}"
edition = "{{generatedYear}}"


[dependencies]
actix-web = "4.0.0-beta.15"
serde = "1.0.132"
serde_json = "1.0.73"
uuid = "1.0.0-alpha.1"
actix-rt = "2.5.0"
casbin = {version = "2.0.9",default-features=false,features = ["runtime-async-std","logging","incremental"]}
sqlx = { version = "0.5.9", features = [ "runtime-tokio-native-tls", "sqlite" ] }
jsonwebtoken = "8.0.0-beta.7"
