use actix_web::{App, HttpResponse, HttpServer, web};
mod config;
mod controllers;
mod models;
mod services;
#[actix_web::main]
async fn main() -> std::io::Result<()>{
    HttpServer::new(|| {
        App::new()
                .configure(config::config_routes)
        })
        .bind("127.0.0.1:8080")?
        .run()
        .await
}
